<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
   <br />
  <h1>Welcome to "Online Mechanic"</h1>
   <br />
    <h2>Choose the model and brand of your vehicle, visit our tweaking gallery to customize it, Eric.</h2>
     <br />
    <%= link_to 'Customize Your Car', '#', class: 'btn btn-success' %>
     <br />
  </div>
</div>

<br />
<div class="row feature text-center">

  <div class="col-12 col-sm">
    <h3>Custom Rims & Tires</h3>
   <br />
    <p> Choose High Quality Alloy or OEM Rims from BBS and other parties</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Boost Your Engine</h3>
    <br />
    <p> Add custom parts to increase RPM and Horsepower to industry standards</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Interior & Exterior upgrades</h3>
    <br />
    <p>Anything from new paint job, side skirts , Carbon fiber upgrades, We've got you covered</p>
  </div>
</div>