<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
   <br />
  <h1>Welcome to "Online Mechanic"</h1>
   <br />
    <h2>Choose the model and brand of your vehicle, visit our tweaking gallery to customize it, Eric.</h2>
     <br />
    <%= link_to 'Customize Your Car', '#', class: 'btn btn-success' %>
     <br />
  </div>
</div>